<%- include('../includes/head.ejs') %>
<%- include('../includes/nav.ejs') %>
    <br>
<div class="container-fluid">
    <h2>Revenue Generale</h2><br>
                
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>date</th>
          <th>voiture</th>
          <th>Driver</th>
          <th>Amout In </th>
          <th>Failure</th>
          <th>Failure Cost</th>
          <th>Total Revenue</th>

        </tr>
      </thead>
      <tbody>
          <% for(let r of revenues){%>
        <tr>
          <td><%=r.date.toLocaleDateString()%></td>
          <td><%=r.car.immatriculation %></td>
          <td><%=r.driver.fname%> <%=r.driver.lname%></td>
          <td><%=r.amount%></td>
          <td class="text-danger"><%=r.failureDescription%></td>
          <td class="text-danger"><%=r.failureAmount%></td>
          <td ><%=r.total%></td>

        </tr>
        <%}%>
      </tbody>
    </table>
  </div>

<%- include('../includes/end.ejs') %>